<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981375126445-1vbg4shh7bqmju9cl7vuhb2o7abfdgm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981375126445-1vbg4shh7bqmju9cl7vuhb2o7abfdgm5</string>
	<key>API_KEY</key>
	<string>AIzaSyD_m3nzv6uGltbjYl-_1jT_qe2mKylbV0c</string>
	<key>GCM_SENDER_ID</key>
	<string>981375126445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hredoy.photo-hut-admin</string>
	<key>PROJECT_ID</key>
	<string>photo-hut-97496</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-hut-97496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981375126445:ios:b2223a8cd3f3f8c7da6f24</string>
	<key>DATABASE_URL</key>
	<string>https://photo-hut-97496.firebaseio.com</string>
</dict>
</plist>